In [1]:
import pandas as pd

In [2]:
# get the data
df = pd.read_csv("prices.csv")

In [3]:
# check out the data
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# remove the id column
df = df.drop(columns="Id")

In [5]:
# replace missing values with None for string columns
for col in df.columns:
    if df[col].dtypes == "object" and df[col].isna().any():
        df[col] = df[col].fillna("None")

In [6]:
# convert YrSold to a date
df["DateSold"] = df["YrSold"].astype(str) + "-01-01"
df = df.drop(columns="YrSold")

In [7]:
# fill in missing values for LotFrontage, MasVnrArea, and GarageYrBlt with 0
df["LotFrontage"] = df["LotFrontage"].fillna(0)
df["MasVnrArea"] = df["MasVnrArea"].fillna(0)
df["GarageYrBlt"] = df["GarageYrBlt"].fillna(0)

In [8]:
# shuffle the data
df = df.sample(frac=1, random_state=0).reset_index(drop=True)

In [9]:
# check out the data
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,SaleType,SaleCondition,SalePrice,DateSold
0,20,RL,0.0,32668,Pave,None,IR1,Lvl,AllPub,CulDSac,...,0,None,None,None,0,3,WD,Alloca,200624,2007-01-01
1,50,RL,79.0,9490,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,MnPrv,None,0,8,WD,Normal,133000,2006-01-01
2,50,RL,0.0,7015,Pave,None,IR1,Bnk,AllPub,Corner,...,0,None,None,None,0,7,WD,Normal,110000,2009-01-01
3,60,RL,83.0,10005,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,None,None,0,3,WD,Normal,192000,2008-01-01
4,160,RM,21.0,1680,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,None,None,0,3,WD,Family,88000,2010-01-01

In [10]:
# export the data
df.to_csv("house.csv", index=False)